[Unit]
Description=Issaquah Robotics Society (FRC 1318) Vision System
After=network.target syslog.target

[Service]
User=root
ExecStart=/usr/bin/java -Djava.library.path=/usr/local/share/java/opencv4/:/opt/pi4j/lib/ -jar /home/pi/irs1318_vision/build/libs/irs1318_vision-1.0.jar
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
