[Unit]
Description=Issaquah Robotics Society (FRC 1318) Vision System
After=network.target syslog.target

[Service]
User=root
Environment= OPENCV_JAR=/usr/local/share/java/opencv4/opencv-410.jar PI4J_JAR=/opt/pi4j/lib/pi4j-core.jar
ExecStart=/usr/bin/java -jar /home/pi/irs1318_vision/build/libs/irs1318_vision-1.0.jar
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
